<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <ConnectionStrings>
    <add name="carConnection"
         connectionString="Data Source=DESKTOP-OPF41NS\SQLEXPRESS;Initial Catalog=Courses;Integrated Security=True"/>
  </ConnectionStrings>
</configuration>